{% extends 'notification_service/base.html' %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f7f6;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction: column;
    }
</style>

{% block content %}
    <header>
        <h1>Система Управления Рассылками</h1>
        <a class="auth-button" href="{% url 'logout' %}">Logout</a>
    </header>
    <div class="content">
        <div class="block">
            <h2>Клиенты</h2>
            <p><a class="add-button" href="{% url 'clients:add_client' %}">Добавить клиента</a></p>
            {% for client in clients %}
                <div class="client-item{% if forloop.counter > 3 %} hidden{% endif %}">
                    <h3>Клиент №{{ client.id }}</h3>
                    <p>Номер телефона: {{ client.phone_number }}</p>
                    <p>Код оператора: {{ client.operator_code }}</p>
                    <p>Тэг: {{ client.tag }}</p>
                    <div class="buttons">
                        <a class="edit-button" href="{% url 'clients:update_client' client.id %}">Редактировать</a>
                        <form method="POST" action="{% url 'clients:delete_client' client.id %}">
                            {% csrf_token %}
                            <button type="submit" class="delete-button">Удалить</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            {% if clients|length > 3 %}
                <a href="#" class="show-more-button" id="show-more">Показать больше</a>
            {% endif %}
        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function showAllMailings(buttonId, itemsClass) {
                const button = document.getElementById(buttonId);
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    const items = document.querySelectorAll('.' + itemsClass);
                    items.forEach(function (item) {
                        item.classList.remove('hidden');
                    });
                    button.style.display = 'none';
                });
            }

            showAllMailings('show-more', 'client-item')
        });
    </script>
{% endblock %}